@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <form>
        <label>a:</label>
        <input name="a"/>
        <br/> / <br/>
        <label>b:</label>
        <input name="b"/>
        <br/>
        <br/>
        <input type="submit"/>
    </form>
    
    <h3>Result = @ViewData["Result"]</h3>
</div>
